body {
  font-family: 'Lato', sans-serif;
}

.height-200 {
  height: 200px;
}

.text-align {
  text-align: center;
}

.padding-top-bottom-60px {
  padding: 60px 0;
}

.padding-top-bottom-30px {
  padding: 30px 0;
}

.padding-left-right-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.icon-bg {
  background-color: rgb(52, 176, 159);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 20px;
}

.bg-color {
  background-color: rgb(52, 176, 159);
}

.margin-top-40 {
  margin-top: 40px;
}

.text-color-white {
  color: rgb(255, 255, 255);
}

@media screen and (max-width:768px) {
  .h2-40px {
    font-size: 40px;
  }

  .h3-23px {
    font-size: 23px;
  }

  .p-20px {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .h2-md-38px {
    font-size: 38px;
  }

  .h3-md-20px {
    font-size: 20px;
  }

  .p-md-18px {
    font-size: 18px;
  }
}
